.heading{
    font-family: 'Roboto Mono', monospace;
    /* background-color: #F9F1F0; */
    /* color: whitesmoke; */
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: 2px black solid;

}

.employee-info{
    width: 30rem;
    padding: 3rem 3rem 3rem 5rem;
    /* background-color: #; */
}

.submit-button{
    width: 7rem;
    color: whitesmoke;
    background-color: #6D4D49;
}