<div class="container text-center">
    

    <div class="d-flex flex-row mt-3  table-heading"><h4 class="display-6 container-fluid">Employees</h4></div>
    <table class="table">
        <thead class="blue-header">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
                <th scope="col">Role</th>
                <th scope="col" class=".d-sm-none .d-md-block">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employees" 
            (click) = "employeeService.getEmployee(employee.employeeId)">
                <th scope="row">{{employee.employeeId}}</th>
                <th>{{employee.employeeUserName}}</th>
                <td>{{employee.employeeFirstName}}</td>
                <td>{{employee.employeeLastName}}</td>
                <td>{{employee.employeeDepartment}}</td>
                <td>{{employee.employeeRole}}</td>
                <td class=".d-sm-none .d-md-block">{{employee.employeeAddress}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
